<h1>Temperatura y Hora</h1>
<!-- <input (keyup)="filtrar()" type="text" [(ngModel)]="search"> {{search}}
 -->
<!-- <p id="izquierda" (click)="correrL()"> ⬅️ </p>
<p id="derecha" (click)="correrR()"> ➡️ </p>
 -->
<!-- <div class="container ">
    <app-card [ngStyle]="(busqueda.length == 0) ? {'opacity':'0'} :{'opacity':'1'} " *ngFor="let i of busqueda " img="{{i.img}} " name="{{i.nombre}} " temp="2 " hour="1 "></app-card>
     <p [hidden]="!(busqueda.length == 0)">No hay resultados</p>

</div> -->

<!-- <div *ngIf="search != ''" class="container ">
    <app-card *ngFor="let i of busqueda " img="{{i.img}} " name="{{i.nombre}} " temp="2 " hour="1 "></app-card>
</div> -->
<ngb-carousel *ngIf="images">
    <ng-template *ngFor="let i of busqueda " ngbSlide>


        <div class="picsum-img-wrapper">
            <!-- <img [src]="images[0]" alt="Random first slide">
             -->
            <app-card [ngStyle]="(busqueda.length == 0) ? {'opacity':'0'} :{'opacity':'1'} " img="{{i.img}} " name="{{i.nombre}} " temp="Obteniendo.." hour="Obteniendo.."></app-card>
        </div>
        <!--   <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div> -->
    </ng-template>

</ngb-carousel>